/* Kevin Palmer, 2019 */

html, body {
    height: 100%;
    margin: 0;
}

#main {
    height: 100%;
    width: 100%;
}

#mainMap {
    height: 100%;
    width: 79.5%;
    border: solid;
    display: inline-block;

}

#panel {
    height: 100%;
    width: 19.5%;
    padding: 0px;
    border: solid;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

#panel p {
    margin: 0.0em 0;
}

.leaflet-popup-content p {
    margin: 0.0em 0;
}

.legendControlContainer {
    width: 380px;
    height: 265px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#temporalLegend {
    font-size: 18px;
    font-weight: bold;
}

.sequenceControlContainer {
    width: 350px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.rangeSlider {
    width: 50%;
    /*vertical-align: middle;*/
}

#forward {
    float: right;
    transform: rotate(90deg);

}

#reverse {
    float: left;
    transform: rotate(270deg);
}
